{% block footer %}
    <footer id="footer-floating" layout="column" layout-align="center center">
        <md-divider style="color: #e2e2e2;width: 100%;"></md-divider>
        <div layout="column" layout-align="space-between center" layout-fill="" style="text-align: center;">
    <p>Copyright © 2006 - 2017 - Built by Dahleos Limited - All rights reserved</p>
    <!-- Registered in Brazil Company No. 00.00.00 VAT Registration No. 000 0000 00 --?
            <br><br>
        </div>
    </footer>
{% endblock %}
