{% extends "__base__.html" %}

{% load static %}

{% block title %}LottoHUB by HutchR{% endblock %}

{% block scripts %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
{% endblock %}

{% block theme_style %} {% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Main -->
        <section id="main">
            <header>
            <span class="avatar">
                <img src="/static/images/LottoHub_logo.png" onclick="location.href='/'" on width="142px" height="142px"
                     alt=""/>
            </span>
                {% if user.is_authenticated %}
                    Olá {{ user.username }}!
                    <br><br>
                    <ul class="icons">
                        <a href="/dashboard/?profile">
                            <li><i class="material-icons LHButtons">person_pin</i></li>
                        </a>
                        <a href="{% url 'dashboard' %}">
                            <li><i class="material-icons LHButtons">dashboard</i></li>
                        </a>
                        <a href="{% url 'logout' %}">
                            <li><i class="material-icons LHButtons">exit_to_app</i></li>
                        </a>
                    </ul>
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button onclick="location.href='javascript:history.back()'" type="button" alt="Página anterior">
                            Voltar
                        </button>
                        <button type="submit">Login</button>
                        <button onclick="location.href='http://www.example.com'" type="button"
                                alt="Esqueceu sua senha?">
                            Senha?
                        </button>
                    </form>
                {% endif %}
            </header>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; LottoHub</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>
{% endblock %}

{% block late_script %}
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () {
                document.body.className = document.body.className.replace(/\bis-preload\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>
{% endblock %}
