{% extends "__base__.html" %}

{% load static %}

{% block title %}LottoHUB by HutchR{% endblock %}

{% block scripts %}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/assets/css/dashboard.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
{% endblock %}

{% block theme_style %} {% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- Main -->
        <md-card id="main">
            <header>
             <span class="avatar">
                <img src="/static/images/LottoHub_logo.png" onclick="location.href='/'" on width="50px" height="50px"
                     alt=""/>
            </span>
                <h2 style="text-align: left;" ng-hide="status==null">Situação do Bilhete</h2>
                <hr ng-hide="status==null">
                <div style="text-align: left;" ng-hide="status==null">
                    <div class="field-name">Status:</div>
                    <div class="field-name" ng-hide="status==false">Nome:</div>
                    <div class="field-name" ng-hide="status==false">E-mail:</div>
                    <div class="field-name" ng-hide="status==false">Telefone:</div>
                    <div class="field-name">Vendedor:</div>
                    <div class="field-name">Notificação:</div>
                </div>
                <hr ng-hide="status==null">
                <div ng-hide="status!=null">
                    <h2 style="text-align: left;">Verificar Bilhete</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ CheckForm.as_p }}
                        <p><input type="submit"/></p>
                    </form>
                </div>
                <div style="text-align: left;" ng-hide="status!=true">
                    Boa Sorte!
                </div>
                <div style="text-align: left;" ng-hide="status!=false" layout="row" layout-align="space-between center">
                    <p>Notifique seu vendedor!</p> <md-button class="md-raised md-warn">Notificar!</md-button>
                </div>
            </header>
        </md-card>
        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; LottoHub</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>
    </div>
{% endblock %}


{% block footer %}
    {{ TForm.media }}
{% endblock %}

{% block late_script %}
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () {
                document.body.className = document.body.className.replace(/\bis-preload\b/, '');
            });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
        window.history.replaceState(null, null, window.location.href);
    </script>
{% endblock %}

{% block angularJS %}
    <script>
        angular.module('LottoApp', ['ngMaterial', 'ngMessages', 'ngSanitize', "ngAnimate", "ngRoute"], function ($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        })
            .config(['$httpProvider', '$locationProvider', function ($httpProvider, $locationProvider) {
                $httpProvider.defaults.xsrfCookieName = 'csrftoken';
                $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
            }])
            .config(
                function ($mdIconProvider, $$mdSvgRegistry) {
                    // Add default icons from angular material
                    $mdIconProvider
                        .icon('md-close', $$mdSvgRegistry.mdClose)
                        .icon('md-menu', $$mdSvgRegistry.mdMenu)
                        .icon('md-toggle-arrow', $$mdSvgRegistry.mdToggleArrow)
                        .icon('md-tabs-arrow', $$mdSvgRegistry.mdTabsArrow);
                }
            )
            .filter('ObjectLength', function () {
                return function (object) {
                    return Object.keys(object).length;
                }
            })
            .controller('dataCtrl', ['$scope', "$mdDialog", '$timeout', '$http', '$mdToast', '$location', '$window', function ($scope, $mdDialog, $timeout, $http) {
                //
                $scope.status = null;
                $scope.AngEnv = {
                    Url: window.location.pathname,
                    status: null
                }
                ;
                //
                $scope.cancel = function () {
                    $mdDialog.cancel();
                };
                $scope.showConfirm = function (ev) {
                    // Appending dialog to document.body to cover sidenav in docs app
                    // TODO MOVE MESSAGE TO SYSTEM CODE
                    var confirm = $mdDialog.confirm()
                        .title('Would you like to delete your debt?')
                        .textContent('All of the banks have agreed to forgive you your debts.')
                        .ariaLabel('Lucky day')
                        .targetEvent(ev)
                        .ok('Please do it!')
                        .cancel('Sounds like a scam');

                    $mdDialog.show(confirm).then(function () {
                        // TODO MOVE MESSAGE TO SYSTEM CODE
                        $scope.status = 'You decided to get rid of your debt.';
                    }, function () {
                        // TODO MOVE MESSAGE TO SYSTEM CODE
                        $scope.status = 'You decided to keep your debt.';
                    });
                };
                $scope.nyx = function (code, method) {
                    $http({
                        method: 'GET',
                        url: '/nyx/' + $scope.PostForm.Store + '/' + method + '/' + code + '/',
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}  // set the headers so angular passing info as form data (not request payload)
                    })
                        .success(function (data) {
                            $scope.AngEnv[method] = data[method];
                        })
                        .finally(function () {
                            //
                        });
                };
                //
            }])

    </script>
{% endblock angularJS %}