{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <form method="post" action="../registration">
        {% csrf_token %}
        {% for p in form %}
            <div class="group">
                {{ p }}
                <label>{{ p.label }}</label>
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
        {% endfor %}
        <md-button class="md-raised md-primary">
            <input type="submit" value="{% trans 'Submit' %}"/>
        </md-button>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        body.hide();
        html.hide();
        $(function () {
            BgBlur("{% get_static_prefix %}" + 'photos/478902_417111035026066_135576135_o.jpg', 15, .15, "white");
        });
    </script>
{% endblock %}