{% load static %}
<div layout-fill="" flex="100">
    <div class="dahleos-tooltip scrolless-tooltip">
        <h4 style="margin-top: 0;">Segurança</h4>
        E não se preocupe, o serviço armazena as chaves de segurança em uma rede descentralizada com comunicação
        encriptada
        ponta-a-ponta. Isto significa que mesmo que um dos centros de armazenamentos seja por ventura comprometido, os
        invasores não poderão ter acesso aos dados sensitivos, uma vez que as chaves não se encontram no banco de dados
        nem
        no próprio código-fonte de nosso sistema.
        <br>
        <br>
        <h4>Comunicação</h4>
        Quaisquer avisos e alertas para usuários serão enviados através do sistema de mesagem direta do
        instagram, então fique atento a mensagens enviadas pelo nosso perfil oficial.
        <br>
        <br>
        Em todo caso, Dahleos nunca requisitará o envio de suas senhas (do Instagram ou de nosso sistema).
        <br>
        <br>
        Ao finalizar, você será encaminhado para a página de seu perfil de usuário conosco para preenchimento de
        informações pessoais e customização. A etapa é opcional, embora nos ajude a oferecer um serviço cada vez melhor.
        <br>
        <br>
        Esperamos que aproveite o seu período de testes e que possamos desfrutar de uma longa e produtiva colaboração.

        <p class="team-signature">Equipe Dahleos</p>
    </div>
</div>





