{% block footer %}
    <footer id="footer" layout="column" layout-align="center center">
        <md-divider style="color: #e2e2e2;width: 100%;"></md-divider>
        <div layout="row" layout-align="space-between center" layout-fill="">
            <!--
            <md-button ng-disabled="page==1" ng-click="page=page-1;">
                <i class="material-icons" style="font-size: 5vh;">chevron_left</i>
            </md-button>
            -->
            <md-button ng-disabled="true" ng-click="page=page-1;">
            </md-button>
            <div> {[{page}]}/{[{last_page}]}</div>
            <md-button ng-disabled="!isStepComplete()" ng-click="NextPage()">
                <i class="material-icons" style="font-size: 5vh;">chevron_right</i>
            </md-button>
        </div>
    </footer>
{% endblock %}
