{#{% extends "socialaccount/base.html" %}#}

{% load i18n %}

{% block head_title %}{% trans "User's Profile" %}{% endblock %}


{% block content %}
    {% if '/dashboard' %}
        <md-grid-list md-cols-sm="1" md-cols-gt-sm="3" md-cols-gt-md="5" md-row-height="2.3:1" md-gutter="50px"
                      id="ImportContainer" style="width: 95%;height: 90%;margin: 30px;"
                      ng-init='AngEnv.DashCards={"followers":{"icon":"people","color":"#3b5999","title":"Followers"},"following":{"icon":"supervisor_account","color":"#00acec","title":"Following"},"t20p_likes":{"icon":"thumb_up","color":"#80bf4d","title":"Likes"},"publications":{"icon":"photo","color":"#9258ac","title":"Publications"},"t20p_comments":{"icon":"forum","color":"#f0543b","title":"Comments"}}'>
            <md-grid-tile md-rowspan="2" md-colspan="5" class="card-tile"
                          style="height: 35%;width: 100%;padding: 25px;background-color: white;border-radius: 5px;border: 1px solid #d3ced4;">
                <!--suppress HtmlUnknownTarget -->
                <img ng-src="{[{ AngEnv.usrData.user_profile_pic_url }]}" id="config-avatar" class="doNot"
                     style="border-radius: 50%;margin-right: 4%;margin-left: 1%;">
                <md-grid-list md-cols-sm="1" md-cols-gt-sm="2" md-cols-gt-md="2" md-row-height="14:1" md-gutter="2px"
                              style="width:100%;font-size: 1.1em;">
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Name:</b>&nbsp;{[{
                        AngEnv.usrData.first_name}]}
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Surname:</b>&nbsp;{[{
                        AngEnv.usrData.last_name}]}
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Email:</b>&nbsp;{[{
                        AngEnv.usrData.email}]}
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Website:</b>&nbsp;{[{
                        AngEnv.usrData.website}]}
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Last login:</b>&nbsp;{[{
                        literalDate(AngEnv.usrData.last_login) }]}
                    </md-grid-tile>
                    <md-grid-tile md-rowspan="1" md-colspan="1" class="profile-tiles"><b>Registration Date:</b>&nbsp;{[{
                        literalDate(AngEnv.usrData.date_joined) }]}
                    </md-grid-tile>
                </md-grid-list>

            </md-grid-tile>

            <md-grid-tile md-rowspan="1" md-colspan="1" class="card-tile" layout="row"
                          ng-repeat="(card, data) in AngEnv.DashCards"
                          layout-align="space-between space-between"
                          style="padding: 5px 5px 5px 5px;border-radius: 5px;background-color: white;border: 1px solid #d3ced4;">
                <div style="width: 35%;height: 95%;margin-right: 10px;margin-left: 3px;border-radius: 5px;background-color: {[{ AngEnv.DashCards[card]['color'] }]};"
                     layout="row" layout-align="center center">
                    <i class="material-icons" style="font-size: 400%;color:white;">{[{
                        AngEnv.DashCards[card]['icon'] }]}</i>
                </div>
                <div style="padding: 5px;" layout="column" layout-align="end end">
                        <span class="md-headline"
                              style="font-size: 300%;overflow: visible !important;">{[{ AngEnv.usrData[card] }]}</span>
                    <span class="md-subhead">{[{ AngEnv.DashCards[card]['title'] }]}</span>
                </div>
            </md-grid-tile>
        </md-grid-list>
{#        <script type="text/javascript">#}
{#            var frm = $('#socialLoginForm');#}
{#            frm.submit(function (ev) {#}
{#                $.ajax({#}
{#                    type: frm.attr('method'),#}
{#                    url: frm.attr('action'),#}
{#                    data: frm.serialize(),#}
{#                    success: function (data) {#}
{#                        location.reload();#}
{#                    }#}
{#                });#}
{#                ev.preventDefault();#}
{#            });#}
{#        </script>#}
{#        {% include "socialaccount/snippets/login_extra.html" %}#}
    {% else %}
    {% endif %}
{% endblock %}




